<h6 class="mt-5">
  Add new answer for
</h6><br>

<small class="text-muted">
  <b><%= @technology.title %></b> question id: #<%= @question.id %>
</small>

<div class="shadow-lg mt-5 mb-5 p-5">

  <p class="mt-2">
    <span class="text-muted"><%= @question.question %></span>
  </p>

  <p>
    <%= @question.snippet %>
  </p>

</div>

<div class="shadow-lg mt-5 mb-5 p-5">
  <% if user_signed_in? %>
    <%= form_for ([@technology, @technology.questions.find(1).answers.build]) do |f| %>


      <%= f.label :shortcut %>
      <%= f.text_area :shortcut, required: true, class: 'form-control mb-3' %>


      <%= f.label :snippet %>
      <%= f.text_area :snippet, class: 'form-control mb-3' %>

      <%= f.label :explain %>
      <%= f.text_area :explain, class: 'form-control mb-3' %>

      <%= f.submit class: 'btn btn-primary btn-sm mt-2' %>
      <%= link_to "Back to lessons", technology_answers_path(@technology), class: 'btn btn-secondary btn-sm mt-2' %>
    <% end %>
  <% end %>
</div>
