<h3 class="mb-5">
  All technologies answers
</h3>


<% @technologies.each do |technology| %>
  <% technology.questions.each do |question|%>

    <h6>
      <span class="text-muted"><%= technology.title %></span> answers <span class="badge badge-primary badge-pill"><%= question.answers.count %></span>
    </h6>

    <small>
      Question id: <span class="text-muted">#<%= question.id %></span>
    </small>

    <div class="shadow-lg mt-5 mb-5 p-5">

      <small class="text-muted">
        Question:
      </small>

      <p class="text-muted mt-3">
        <b><%= question.question %></b>
      </p><br><br>

      <small class="text-muted">
        Snippet:
      </small><br>

      <div class="bg-light rounded p-3 mt-3 mb-3">
        <p>
          <%= question.snippet %>
        </p>
      </div>

      <%= link_to 'Show', technology_question_path(technology, question), class: 'text-decoration-none mr-3' %>
      <%= link_to 'Delete', technology_question_path(technology, question), method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-decoration-none mr-3' %>
      <%= link_to 'Edit', edit_technology_question_path(technology, question), method: :put, class: 'text-decoration-none mr-3' %>
      <%= link_to 'Create', new_technology_question_path(technology, question), class: 'text-decoration-none mr-3' %>
    </div>

    <% question.answers.each do |answer| %>

    <small>
      Answer id: <span class="text-muted">#<%= answer.id %> for<br> question id #<%= question.id %> | <b><%= technology.title %></b></span>
    </small><br><br>

    <small class="text-muted mt-3">
      <b><%= question.question %></b>
    </small>

    <div class="shadow-lg mt-5 mb-5 p-5">

      <small class="text-muted">
        Answer:
      </small><br>

      <div class="bg-light rounded p-3 mt-3 mb-3">
        <p>
          <%= answer.shortcut %>
        </p>
      </div>

      <small class="text-muted">
        Snippet:
      </small><br>

      <div class="bg-light rounded p-3 mt-3 mb-3">
        <p>
          <%= answer.snippet %>
        </p>
      </div>

      <small class="text-muted">
        Explain:
      </small><br>

      <div class="bg-light rounded p-3 mt-3 mb-3">
        <p>
          <%= answer.explain %>
        </p>
      </div>

      <div class="p-3">
        <%= link_to 'Show', technology_answer_path(technology, answer), class: 'text-decoration-none mr-3' %>
        <%= link_to 'Delete', technology_answer_path(technology, answer), method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-decoration-none mr-3' %>
        <%= link_to 'Edit', edit_technology_answer_path(technology, answer), method: :put, class: 'text-decoration-none mr-3' %>
        <%= link_to 'Create', new_technology_answer_path(technology, answer), class: 'text-decoration-none mr-3' %>
      </div>

    </div>
  <% end %>
  <% end %>
<% end %>
