
<div>
  <b><%= @technology.title %> <span class="text-muted">project #<%= @project.id %></span></b>
</div>

<div class="shadow-lg mt-5 mb-5 p-5">

  <small class="text-muted">
    Project
  </small>
  <div class="bg-light p-3 mb-2">
    <small>
      <%= @project.title %>
    </small>
  </div>

  <small class="text-muted">
    Body
  </small>
  <div class="bg-light p-3 mb-2">
    <p>
      <%= @project.body %>
    </p>
  </div>

  <%= link_to "Back to lessons", technology_projects_path(@technology), class: 'btn btn-secondary btn-sm mt-2' %>
</div>
