<h6 class="mt-5">
  Add new lesson for <span class="text-muted"><%= @technology.title %></span>
</h6>

<div class="border bg-light rounded p-5 mt-5">
  <% if user_signed_in? %>
    <%= form_for ([@technology, @technology.lessons.build]) do |f| %>


        <%= f.label :title %>
        <%= f.text_field :title, required: true, class: 'form-control mb-3' %>


      <%= f.label :body %>
      <%= f.text_field :body, class: 'form-control mb-3' %>

      <%= f.submit class: 'btn btn-primary btn-sm mt-2' %>
      <%= link_to "Back to lessons", technology_lessons_path(@technology), class: 'btn btn-secondary btn-sm mt-2' %>
    <% end %>
  <% end %>
</div>
