
<div>
  <b><%= @technology.title %> <span class="text-muted">lesson #<%= @lesson.id %></span></b>
</div>

<div class="shadow-lg mt-5 mb-5 p-5">

  <small class="text-muted">
    Author
  </small>

  <div class="bg-light rounded p-3 mb-2">
    <small>
      <%= @lesson.title %>
    </small>
  </div>

  <small class="text-muted">
    Body
  </small>

  <div class="bg-light p-3 mb-2">
    <p>
      <%= @lesson.body %>
    </p>
  </div>

  <%= link_to "Back to lessons", technology_lessons_path(@technology), class: 'btn btn-secondary btn-sm mt-2' %>
</div>
