<h1>
  <%= @technology.title %>
</h1>

<div class="shadow-lg mt-5 mb-5 p-5">
  <small class="text-muted">
    Purpose
  </small>

  <div class="bg-light rounded p-3 mb-2 mt-2">
    <small>
      <%= @technology.purpose %>
    </small>
  </div>

  <small class="text-muted">
    Description
  </small>

  <div class="bg-light rounded p-3 mb-2 mt-2">
    <p>
      <%= @technology.description %>
    </p>
  </div>

  <small class="text-muted">
    Documentation
  </small>

  <div class="bg-light rounded p-3 mb-2 mt-2">
    <h6 class="text-muted">
      <%= @technology.doc %>
    </h6>
  </div>
  <%= link_to 'Back to technologies', technologies_path, class: 'btn btn-secondary btn-sm mt-2' %>
</div>



<h6 class="mt-5">
  Add some lesson for <span class="text-muted"><%= @technology.title %></span>
</h6>

<div class="shadow-lg mt-5 mb-5 p-5">
  <%= form_for ([@technology, @technology.lessons.build]) do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title, required: true, class: 'form-control mb-3' %>

    <%= f.label :body %>
    <%= f.text_field :body, class: 'form-control mb-3' %>

    <%= f.submit class: 'btn btn-primary btn-sm mt-2' %>

  <% end %>
</div>
