<!DOCTYPE html>
<html>
  <head>
    <title>Delper6</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

      <a class="navbar-brand" href="/">Delper</a>

      <form class="form-inline my-2 my-lg-0 mr-5">
        <input class="form-control-sm mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 btn-sm" type="submit">Find</button>
      </form>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <%= link_to 'Terms', terms_path, class: 'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to 'About', about_path, class: 'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to 'Contacts', new_contacts_path, class: 'nav-link mr-5' %>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Technologies
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="<%= technologies_path %>">All technologies</a>
              <div class="dropdown-divider"></div>
              <% @technologies.each do |technology| %>
                <a class="dropdown-item" href="<%= technology_path(technology) %>"><%= technology.title %></a>
              <% end %>
              <a class="dropdown-item" href="#">Another action</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Lessons
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="<%= s_lessons_path %>">All lessons</a>
              <div class="dropdown-divider"></div>
              <% @technologies.each do |technology| %>
                <% technology.lessons.each do |technology_lesson| %>
                  <a class="dropdown-item" href="<%= technology_lessons_path(technology) %>"><%= technology.title %> lessons</a>
                <% end %>
              <% end %>
              <a class="dropdown-item" href="#">Another action</a>
            </div>
          </li>

        </ul>
      </div>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown pr-2">
          <% if user_signed_in? %>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.username %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#"><small class="text-muted">My answers</small></a>
              <a class="dropdown-item" href="#"><small class="text-muted">My lessons</small></a>
              <a class="dropdown-item" href="#"><small class="text-muted">My projects</small></a>

              <div class="dropdown-divider"></div>

              <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'dropdown-item text-decoration-none' %>
          <% else %>
              <%= link_to 'Sign in', new_user_session_path, class: 'nav-link text-decoration-none' %>
            </div>
          <% end %>
        </li>

        <% if user_signed_in? %>
          <li class="nav-item active">
            <li class="nav-item dropdown pr-2">

              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Add
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="<%= new_technology_path %>"><small class="text-muted">Technology</small></a>
                <a class="dropdown-item" href="<%= new_s_lesson_path %>"><small class="text-muted">Lesson</small></a>
                <a class="dropdown-item" href="<%=  %>"><small class="text-muted">Project</small></a>
                <a class="dropdown-item" href="<%=  %>"><small class="text-muted">Answer</small></a>
              </div>
            </li>

        <% else %>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Add</a>
          </li>
        <% end %>
      </ul>

    </nav>

    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="col">

          <% if notice && notice.length > 0 %>
            <div class="text-success p-0">
              <p class="notice p-0"><%= notice.capitalize %></p>
            </div>
          <% end %>

          <% if alert && alert.length > 0 %>
            <div class="text-danger p-0">
              <p class="alert p-0"><%= alert.capitalize %></p>
            </div>
          <% end %>

          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
